<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All Users</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>All Users</h1>
  <ul>
    <% users.forEach(user => { %>
      <li>
        <a href="/message/<%= user._id %>"><%= user.name %> - <%= user.age %></a>
      </li>
    <% }); %>
  </ul>
</body>
</html>
